# -----------------------------
# Node.js / Vite
# -----------------------------
node_modules/
dist/
build/
.vite/
*.local

# Vite cache
.vite-cache/
.cache/
logs
*.log
npm-debug.log*

# dotenv files
.env.development
.env.production
.env.*.local

# Editor directories and files
.idea
