# -----------------------------
# Node.js / Vite
# -----------------------------
node_modules/
dist/
build/
.vite/
*.local

# Vite cache
.vite-cache/
.cache/
logs
*.log
npm-debug.log*

# dotenv files (upewnij się, czy nie chcesz ich commitować)
.env
.env.*.local

# Editor directories and files
.idea
