@use 'variables' as *;
@use 'mixins' as *;

.main-block {
  margin-top: $header-height;
  min-height: calc(100vh - $header-height - $footer-height);

  @include respond-up(sm) {
    margin-top: 0;
  }
}